* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }

  /* Estilo de la parte superior (logo y icono) */
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }

  a .icono{
    text-decoration:none;
    color:black;
    font-size: 30px;
  }

  /* Estilos para el menú de navegación */
  .nav-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 3px solid #DF1882;
    border-bottom: 3px solid #DF1882;
  }
  
  .menu-item {
    flex: 1;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.nav-url {
    padding:30px 2%;
    text-decoration: none;
    color: black;
    width: 100%; 
    height: 100%; 
    display: flex; 
    text-align: center;
    align-items: center; 
    justify-content: center; 
}


.menu-item:hover .nav-url {
  font-weight: bold; 
}



  .menu-item-empresa{
    flex: 1;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
  }


  .submenu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 100%;
    background-color: #684e54; 
    z-index: 1;

  }

  .submenu-item{
    border-top:1px solid black;
  }

  /* Hover en submenú */
  .submenu-item:hover .nav-url {
  font-weight: bold; 
  }


  /* Submenú activo cuando se hace clic en "Empresa" */
  .submenu.active {
    display: block;
    z-index: 2;
  }

  .menu-item-empresa.active{
    font-weight: bold;
  }
  .bold{
    font-weight: bold;
  }


    /* Responsive: para pantallas pequeñas */
    @media (max-width: 768px) {
      .nav-menu {
        flex-direction: column;
      }
    
  
    }